.todos-actions {
  @include flex-center;
  width: 100%;

  @include xl-mobile {
    flex-wrap: wrap;
  }

  &_events-none {
    pointer-events: none;
  }

  &__action {
    padding: 8px 11px;
    font-family: $font-base;
    border-radius: $border-radius-md;
    font-size: 13px;
    font-weight: 600;
    line-height: 16px;
    text-align: left;
    white-space: nowrap;

    &_hidden {
      visibility: collapse;

      @include xl-mobile {
        visibility: visible;
        display: none;
      }
    }

    &_active {
      background-color: $color-bg-btn;
      color: $color-text-light;
    }

    &_check {
      margin-right: auto;

      @include xl-mobile {
        margin-right: 0;
        order: 4;
      }
    }

    &_clear {
      margin-left: auto;

      @include xl-mobile {
        margin-left: 0;
        order: 5;
      }
    }
  }
}

:global(.dark .todos-actions__action) {
  color: $color-text-light;
}
