@font-face {
  font-family: NunitoSans;
  font-weight: 300;
  font-display: swap;
  src: url('assets/fonts/NunitoSans-Light.woff2') format('woff2');
}

@font-face {
  font-family: NunitoSans;
  font-weight: 400;
  font-display: swap;
  src: url('assets/fonts/NunitoSans-Regular.woff2') format('woff2');
}

@font-face {
  font-family: NunitoSans;
  font-weight: 500;
  font-display: swap;
  src: url('assets/fonts/NunitoSans-Medium.woff2') format('woff2');
}

@font-face {
  font-family: NunitoSans;
  font-weight: 600;
  font-display: swap;
  src: url('assets/fonts/NunitoSans-Bold.woff2') format('woff2');
}

@font-face {
  font-family: NunitoSans;
  font-weight: 700;
  font-display: swap;
  src: url('assets/fonts/NunitoSans-Bold.woff2') format('woff2');
}

@font-face {
  font-family: NunitoSans;
  font-weight: 800;
  font-display: swap;
  src: url('assets/fonts/NunitoSans-ExtraBold.woff2') format('woff2');
}

@font-face {
  font-family: 'Druk Wide Cyr';
  font-weight: 700;
  font-display: swap;
  src: url('assets/fonts/DrukWideCyr-Bold.woff2') format('woff2');
}
