@mixin reset-fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

@mixin reset-legend {
  padding: 0;
}

@mixin headline {
  font-family: $font-accent;
  font-weight: 700;
  line-height: 1.4em;
  color: $color-headline;
  text-align: left;
  text-transform: uppercase;
  letter-spacing: 0.04em;
}

@mixin subheading {
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.4em;
  color: $color-headline;
  text-align: left;
}

@mixin paragraph {
  font-size: 2.4rem;
  line-height: 1.4em;
  color: $color-text;
}

@mixin reset-btn {
  cursor: pointer;
  background-color: transparent;
  border: 0;
}

@mixin headline-1 {
  font-family: $font-accent;
  font-size: 3.6rem;
  font-weight: 700;
  line-height: 1.3em;
  color: $color-headline;
  letter-spacing: 0.01em;
}

@mixin headline-1-mobile {
  font-family: $font-accent;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.3em;
  color: $color-headline;
  letter-spacing: 0.01em;
}

@mixin headline-2 {
  font-family: $font-accent;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.3em;
  color: $color-headline;
  letter-spacing: 0.01em;
}

@mixin headline-2-mobile {
  font-family: $font-accent;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.3em;
  color: $color-headline;
  letter-spacing: 0.01em;
}

@mixin headline-3 {
  font-family: $font-accent;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.3em;
  color: $color-headline;
  letter-spacing: 0.01em;
}

@mixin headline-3-mobile {
  font-family: $font-accent;
  font-size: 0.8rem;
  font-weight: 700;
  line-height: 1.3em;
  color: $color-headline;
  letter-spacing: 0.01em;
}

@mixin text-bold-1 {
  font-family: $font-base;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.4em;
  color: $color-headline;
  letter-spacing: -0.02em;
}

@mixin text-bold-1-mobile {
  font-family: $font-base;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.4em;
  color: $color-headline;
  letter-spacing: -0.02em;
}

@mixin text-bold-2 {
  font-family: $font-base;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.4em;
  color: $color-headline;
  letter-spacing: -0.02em;
}

@mixin text-bold-2-mobile {
  font-family: $font-base;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.4em;
  color: $color-headline;
  letter-spacing: -0.02em;
}

@mixin text-bold-3 {
  font-family: $font-base;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.4em;
  color: $color-headline;
  letter-spacing: -0.02em;
}

@mixin text-bold-3-mobile {
  font-family: $font-base;
  font-size: 1.1rem;
  font-weight: 700;
  line-height: 1.4em;
  color: $color-headline;
  letter-spacing: -0.02em;
}

@mixin text-regular-1 {
  font-family: $font-base;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.4em;
  color: $color-headline;
  letter-spacing: -0.02em;
}

@mixin text-regular-1-mobile {
  font-family: $font-base;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.4em;
  color: $color-headline;
  letter-spacing: -0.02em;
}

@mixin text-regular-2 {
  font-family: $font-base;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.4em;
  color: $color-headline;
  letter-spacing: -0.02em;
}

@mixin text-regular-2-mobile {
  font-family: $font-base;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.4em;
  color: $color-headline;
  letter-spacing: -0.02em;
}

@mixin text-regular-3 {
  font-family: $font-base;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.4em;
  color: $color-headline;
  letter-spacing: -0.02em;
}

@mixin text-regular-3-mobile {
  font-family: $font-base;
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 1.4em;
  color: $color-headline;
  letter-spacing: -0.02em;
}

@mixin text-btn {
  font-size: 2rem;
  line-height: 1.364em;
  color: $color-headline;
  letter-spacing: -0.02em;
}

@mixin text-btn-mobile {
  font-size: 1.4rem;
  line-height: 1.364em;
  color: $color-headline;
  letter-spacing: -0.02em;
}

@mixin input-inner-props {
  @include desktop {
    padding: 26px 36px;
    font-size: 2rem;
    border-radius: $border-radius-l;
  }

  @include text-regular-3-mobile;

  padding: 10px 20px;
  border-radius: $border-radius-3xs;
}

@mixin input-props {
  $this: &;

  position: relative;

  &__checkmark {
    @include desktop {
      top: 33px;
      right: 41px;
      width: 24px;
      height: 14px;
    }

    position: absolute;
    top: 15px;
    right: 22px;

    display: none;

    width: 9px;
    height: 5px;
  }

  &__input {
    @include input-inner-props;

    display: block;

    width: 100%;

    color: $color-headline;

    background-color: $color-disable;
    border: none;
  }

  &__error {
    @include input-inner-props;

    position: absolute;
    inset: 0;

    color: $color-danger;

    background-color: $color-danger-light;
    border-radius: $border-radius-3xs;
  }

  &_easynutrition#{$this}_success {
    #{$this}__checkmark {
      display: block;
      color: $color-easynutrition;
    }

    #{$this}__input {
      color: $color-easynutrition;
      background-color: $color-easynutrition-light;
    }
  }

  &_easyfit#{$this}_success {
    #{$this}__checkmark {
      display: block;
      color: $color-easyfit;
    }

    #{$this}__input {
      color: $color-easyfit;
      background-color: $color-easyfit-light;
    }
  }
}
