* {
  box-sizing: border-box;
  backface-visibility: hidden;
  outline: none;

  -webkit-tap-highlight-color: rgba(0 0 0 / 0%);
}

html {
  font-size: $basic-font-size;
  font-weight: 400;
  line-height: 1.3em;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  cursor: pointer;
  text-decoration: none;
}

svg {
  width: 100%;
  height: 100%;
}

img {
  display: block;
  width: 100%;
  height: 100%;
}

button {
  cursor: pointer;
  padding: 0;
  background-color: transparent;
  border: none;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  overflow: auto;
  display: flex;
  flex-direction: column;

  margin: 0;
  padding: 0;

  font-family: $font-base;
  -webkit-font-smoothing: antialiased;
  color: $color-text;

  background-color: transparent;

  &::before {
    @include desktop {
      height: $desktop-header-height;
    }

    pointer-events: none;
    content: '';

    z-index: $ui-index-1;

    width: 100%;
    height: $mobile-header-height;
  }
}

.section {
  @include desktop {
    padding: $section-indent;
  }

  width: 100%;
  padding: $section-indent-portable;

  &_pb_0 {
    padding-bottom: 0;
  }

  &_desktop_pb_0 {
    @include desktop {
      padding-bottom: 0;
    }
  }

  &_pt_0 {
    padding-top: 0;
  }

  &_desktop_pt_0 {
    @include desktop {
      padding-top: 0;
    }
  }

  &_overflow_hidden {
    overflow: hidden;
  }

  &__headline {
    @include desktop {
      margin-bottom: 60px;
      font-size: 4.2rem;
    }

    margin-bottom: 20px;

    font-family: $font-accent;
    font-size: 2rem;
    font-weight: 700;
    line-height: 1.4em;
    color: $color-headline;
    text-transform: uppercase;
    letter-spacing: 0.04em;

    &_align_center {
      text-align: center;
    }
  }
}

.container {
  width: 100%;
  max-width: 1360px;
  margin: 0 auto;
  padding: $container-indent;

  &_width_full {
    max-width: none;
  }

  &_sm {
    max-width: 1136px;
  }
}

.link {
  @include text-regular-3-mobile;

  @include desktop {
    @include text-regular-3;

    color: $color-easynutrition;
  }

  font-family: $font-base;
  color: $color-easynutrition;
  text-align: left;
  text-decoration: none;
}

fieldset {
  @include reset-fieldset;
}

legend {
  @include reset-legend;
}
