.todo-list {
  position: relative;
  width: 100%;

  &__wrapper {
    @include flex-column-left;
    gap: 18px;
  }

  &__spinner {
    margin: auto;

    &::after {
      border: 2px solid $color-primary;
      border-top-color: transparent;
    }
  }

  &__loading {
    position: absolute;
    inset: 0;
    overflow: hidden;
  }

  .ps {
    @include flex-column-stretch;
    margin-left: -24px;
    gap: 18px;
    width: calc(100% + #{$custom-scrollbar-indent} + 24px);
    height: 200px;
  }
}
