.todos-item {
  $this: &;

  @include flex-items-center;
  width: calc(100% - #{$custom-scrollbar-indent});
  height: 20px;

  &.loading {
    cursor: not-allowed;

    &::before {
      background-color: $color-disable;
    }
  }

  &__checkbox {
    margin-right: 7px;
  }

  &__title {
    padding: 0 3px;
    font-family: $font-base;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    text-align: left;
  }

  &__input {
    margin-right: 20px;
    height: 16px;
    width: 100%;
    padding: 0 2px;
    border-radius: $border-radius-sm;
  }

  &__actions {
    margin-left: auto;
    display: flex;
    justify-content: space-between;
    gap: 16px;
  }

  &__btn {
    flex-shrink: 0;
    width: 16px;
    height: 16px;
    transition: opacity 0.2s ease-in-out;
    cursor: pointer;
    opacity: 0.65;

    &_drag {
      margin-right: 8px;
      cursor: grab;
      opacity: 0;

      @include hover-none {
        opacity: 0.5;
      }

      @include hover {
        &:hover {
          opacity: 0.5;
        }
      }
    }

    &_delete {
      opacity: 0.8;
      cursor: pointer;
      color: $color-danger;
    }

    @include hover {
      &:hover {
        opacity: 1;
      }
    }
  }

  &_checked {
    #{$this}__title {
      opacity: 0.5;
    }
  }
}

:global(.dark .todos-item__title) {
  color: $color-text-light;
}

:global(.dark .todos-item__btn) {
  color: $color-text-light;
}

:global(.dark .todos-item__btn_drag) {
  @include hover-none {
    opacity: 1;
  }
}

:global(.dark .todos-item__btn_delete) {
  opacity: 1;
  color: $color-danger;
}

:global(.dark .todos-item.loading) {
  width: calc(100% - #{$custom-scrollbar-indent} - 24px);
  margin-left: 24px;
  overflow: hidden;

  @include hover-none {
    width: calc(100% - #{$custom-scrollbar-indent});
    margin-left: 0;
  }
}

:global(.dark .todos-item.loading::before) {
  background-color: $color-bg-section-dark;
  border: 1px solid $color-bg-section;
}
